
<!-- Header -->
<div class="page-header">
  <h1 class="text-center">Training Module: {{ training.title }}</h1>
  <h3 class="text-center">Author: {{ training.author }}</h3>
  <h4 class="text-center">Last Updated: {{ training.lastEdit }}</h4>
</div>

<!-- Loading Icon -->
<div class="jumbotron text-center" ng-show="training.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>One moment while we grade your report...</p>
</div>

<!-- BootstrapJS Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="training.returnToMenu();" class="close" data-dismiss="modal">&times;</button>
        <!-- Modal Header -->
        <h4 class="modal-title">{{ training.modalHeader }}</h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <p>{{ training.modalBody }}</p>
      </div>
      <div class="modal-footer">
        <!-- Modal 'Menu' Button -->
        <button type="button" ng-click="training.returnToMenu();" class="btn btn-primary" data-dismiss="modal">Menu</button>
      </div>
    </div>
  </div>
</div>
<!-- BootstrapJS Modal -->

<!-- Display component of training module -->
<div ng-hide="training.loading" class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Page {{ training.page + 1}} <span ng-show="training.component.title">: {{ training.component.title }}</span></h3>
    </div>
    <div class="panel-body row training-body">

      <!-- Text Training Component -->
      <div class="text-component" ng-show="training.component.pageType == 'text'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <p ng-bind-html="training.component.body"></p>
      </div>

      <!-- Audio Training Component -->
      <div class="audio-component" ng-show="training.component.pageType == 'audio'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <p class="media-instructions text-center">Please listen to the entire audio file before proceeding.</p>
        <div class="text-center"><audio id="audio-component" ng-src="{{ training.component.source }}" audioplayer controls></audio></div>
        <p> {{ training.component.description }} </p>
      </div>

      <!-- Video Training Component -->
      <div class="video-component" ng-show="training.component.pageType == 'video'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <p class="media-instructions text-center">Please watch the entire video before proceeding.</p>
        <div class="text-center"><video id="video-component" ng-src="{{ training.component.source }}" controls></video></div>
        <p> {{ training.component.description }} </p>
      </div>

      <!-- Image Training Component -->
      <div class="image-component" ng-show="training.component.pageType == 'image'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <div class="text-center"><img class="img-responsive text-center" ng-src="{{ training.component.source }}"/></div>
        <p> {{ training.component.description }} </p>
      </div>


      <!-- True/False Question -->
      <div class="true-false-component" ng-show="training.component.pageType == 'true-false'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <p>{{ training.component.question }}</p>
        <div ng-repeat="c in training.component.answers" class="radio">
          <label><input type="radio" name="true-false" ng-model="training.submission" ng-value="$index"
                        ng-change="training.hideNext = false">{{ c.answer }}</label>
        </div>
      </div>

      <!-- Multiple Choice Question -->
      <div class="multiple-choice-component" ng-show="training.component.pageType == 'multiple-choice'">
        <h3 class="text-center">{{ training.component.title }}</h3>
        <p>{{ training.component.question }}</p>
        <div ng-repeat="c in training.component.answers" class="radio">
          <label><input type="radio" name="multiple-choice" ng-model="training.submission" ng-value="$index"
                        ng-change="training.hideNext = false">{{ c.answer }}</label>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-footer">
    <div class="row training-footer">
      <span ng-disabled="training.disableNext" ng-show="training.page > 0" ng-click="training.previousPage()" class="pull-left">
        <a href="#"><i class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i> Prev</a>
      </span>
      <span ng-show="training.page < training.components.length - 1 && !training.hideNext" ng-click="training.nextPage()" class="pull-right">
        <a href="#">Next <i class="fa fa-caret-square-o-right fa-2x" aria-hidden="true"></i></a>
      </span>
      <span ng-hide="training.page < training.components.length - 1 || training.hideNext" ng-click="training.gradeComponents(training.components)" class="pull-right">
        <a href="#">Submit Training Module <i class="fa fa-check fa-2x" aria-hidden="true"></i></a>
      </span>


    </div>


  </div>
</div>



